<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1 class="text-center" style="color:#323773;font-size:xx-large; line-height: 1.5;font-size: 40px;" >Search Product</h1>
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Product Name</label>
                    <input type="text" name="" [(ngModel)]="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button   class="btn btn-success">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>            
