<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1 class="text-center" style="color:#323773;font-size:xx-large; line-height: 1.5;font-size: 40px;" >Search Product</h1>
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Product Name</label>
                    <input type="text" name="name" [(ngModel)]="name" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readvalue()"  class="btn btn-success">Search</button>
                </div>
            </div>
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let j of searchData">
                    <div class="card h-100">
                        <img height="200px" width="200px" src="{{j.image}}"class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Product Name : {{j.name}}
                          </h5>
                          <p class="class-card-title ">Description : {{j.description}}</p>
                          <p class="class-card-title ">Category : {{j.category}}</p>
                          <p class="class-card-title ">Price : {{j.price}}</p>
                          <a  class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
